.default {
	border: 3px solid;
	background-color: #222;
}

.excluded {
	border: 3px solid;
	background-color: #422;
}

.selected {
	border: 3px solid;
	background-color: #242;
}

.chosen {
	border: 3px blue solid;
}

.container {
	user-select: none;
	text-align: center;
	box-sizing: border-box;
	margin: 5px;
}

.title {
	color: white;
	display: inline-block;
}

input {
	/* display: inline-block; */
	margin: 14px;
	float: right;
}
